<div class="login">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Password reset</strong>
      </h5>
    </mdb-card-header>
  
  
  
    <mdb-card-body class="px-lg-5 pt-0">
  
  
      <form class="text-center" style="color: #757575;">
  
        
        <div class="md-form">
          <label>Enter your email Address</label>
          <input type="email" name="email"  id="materialLoginFormEmail" class="form-control" [(ngModel)]="email" mdbInputDirective>
          
        </div>
  
        
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit" (click)="resetPassword(email)">Reset</button>
  
      </form>
      
  
    </mdb-card-body>
  
  </mdb-card>
  </div>