<div class="search-form">
  <mat-card>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <mat-select (selectionChange)="navigateTo($event.value)">
        <mat-option value="Album">
          Album
        </mat-option>
        <mat-option value="Artist">
          Artist
        </mat-option>
        <mat-option value="Track">
          Track
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput class="input" type="text" name="searchStr" [(ngModel)]="searchStr" placeholder="Search Albums"
        (input)="searchAlbum(searchStr)">
      <button mat-button *ngIf="searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''; reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator #paginator [length]="totalLength"
                 [pageSize]="limit"
                 [pageSizeOptions]="pageLimit"
                 >
  </mat-paginator>
  </mat-card>
</div>
<div *ngIf="searchResult">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="example-card" *ngFor="let album of obs | async">
      <mat-card-header>
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" #name>{{album.name}}</mat-card-title>

      </mat-card-header>
      <img class="example-header-image" mat-card-image src="{{ album.image[2]['#text'] }}" alt="Album image">
      <mat-card-actions >
        <button *ngIf="docPresent(album.name)" mat-raised-button (click)="addAlbum(album); openSnackBar(album.name)" color="primary" >Add to
          playlist</button>
      </mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Album Info</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card-subtitle>Artist: {{album.artist}}</mat-card-subtitle>
          <mat-card-subtitle><a href="{{album.url}}">Last.Fm profile: {{album.url}}</a></mat-card-subtitle>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card>
    
  </div>
</div>