<div class="register">
    <mdb-card>
    
      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Register</strong>
        </h5>
      </mdb-card-header>
    
      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0">
    
        <!-- Form -->
        <form class="text-center" style="color: #757575;">
    
          <div class="form-row">
            <div class="col">
              <!-- First name -->
              <div class="md-form">
                <input type="text" id="materialRegisterFormFirstName" [(ngModel)]="name" name="name" class="form-control" mdbInputDirective>
                <label for="materialRegisterFormFirstName">First name</label>
              </div>
            </div>
            <div class="col">
              <!-- Last name -->
              <div class="md-form">
                <input type="email"  id="materialRegisterFormLastName" class="form-control" mdbInputDirective>
                <label for="materialRegisterFormLastName">Last name</label>
              </div>
            </div>
          </div>
    
          <!-- E-mail -->
          <div class="md-form mt-0">
            <input type="email" [(ngModel)]="email" name="email" id="materialRegisterFormEmail" class="form-control" mdbInputDirective>
            <label for="materialRegisterFormEmail">E-mail</label>
          </div>
    
          <!-- Password -->
          <div class="md-form">
            <input type="password" [(ngModel)]="pwd" name="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
              mdbInputDirective>
            <label for="materialRegisterFormPassword">Password</label>
            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              At least 8 characters and 1 digit
            </small>
          </div>
    
          <!-- Phone number -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
              mdbInputDirective>
            <label for="materialRegisterFormPhone">Phone number</label>
            <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
              Optional - for two step authentication
            </small>
          </div>
    
          <!-- Newsletter -->
          <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>
    
          <!-- Sign up button -->
          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
            type="submit" (click)="register()">Register</button>
    
          <!-- Social register -->
          <p>or sign up with:</p>
    
          <a class="waves-effect waves-light btn-floating social facebook" (click)="tryFacebookLogin()">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="waves-effect waves-light btn-floating social twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="waves-effect waves-light btn-floating social google" (click)="tryGoogleLogin()">
            <i class="fa fa-google"></i>
          </a>
          <a class="waves-effect waves-light btn-floating social github">
            <i class="fa fa-github"></i>
          </a>
    
          <hr>
    
          <!-- Terms of service -->
          <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>. </p>
    
        </form>
        <!-- Form -->
    
      </mdb-card-body>
    
    </mdb-card>
    </div>
    <!-- Material form register -->
    <footer>
      <mat-toolbar color="primary">
        <mat-icon>
          <svg viewBox="0 0 24 24">
              <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"/>
          </svg>
        </mat-icon>
        <mat-icon>
          <svg viewBox="0 0 24 24">
            <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"/>
        </svg>
        </mat-icon>
      </mat-toolbar>
      © 2019 GitHub, Inc.
    </footer>
    