<div class='card-body'>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Filter by:" aria-label="Filter by:" aria-describedby="basic-addon1" [(ngModel)]='listFilter'>
  </div>
    <h5 class="card-text">Filtered by: {{listFilter}}</h5>
  <div class='table-responsive'>
      <table class='table' *ngIf='track && track.length'>
         
          <tbody>
             <tr *ngFor='let track of filteredTracks'>
                 <td>
                  <img class="artist-header-image" mat-card-image src="{{ track.image }}" alt="artistImage">
                 </td>
                 <td>{{ track.name}}</td>
                 <td>{{ track.artist}}</td>
                 <td>{{ track.listeners}}</td>
                 <td>{{ track.url}}</td>
                 <td>{{ track.rank}}</td>
                 <td><button id="remove" class="btn" (click)="deleteProduct(track.id)">
                     <i class="fa fa-trash"></i>Trash</button></td>
             </tr>
          </tbody>
      </table>
  </div>
</div>
